/* Styling Header */
/* ***********************
header{
	overflow: hidden;
} */

/****************/
/* Styling Logo */
/****************/

#logo{
	/* float: left; */
	/* padding: 20px; */
	margin: 20px;
	height: 80px;
	width: 20%;
}

#logo img{
	width: 40%;
	height: 60%;
	/* float: left; */
	padding: 10px 0px;
}

#top-header{
	display: flex;
	justify-content: space-between;
	text-align: center;
	height: 60px;
}

nav ul {
	display: flex;
}

nav li {
	margin: 20px;
}

nav li a {
	text-decoration: none;
	font-family: 'Courier New', Courier, monospace;
	color: #000;
}

nav li a:hover {
	color: blue;
}

nav li a::selection {
	background-color: blue;
}

#container-hebergement {
	background-color: #d8d8d8;
	border-radius: 15px;
}

#container-hebergement div {
	border-radius: 5px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#container-hebergement div img{
	width: 300px;
	height: 200px;

	border-radius: 5px;
}

#container-hebergement div img{
	width: 300px;
	height: 200px;
	margin: 20px 0px 20px 0px;
	border-radius: 5px;
}

h2 {
	margin: 20px;
}